click==7.1.2
Flask==1.1.2
gunicorn==20.0.4
importlib-metadata==3.3.0
itsdangerous==1.1.0
Jinja2==2.11.2
jsonpickle==1.4.2
MarkupSafe==1.1.1
numpy==1.19.3
opencv-contrib-python-headless==4.4.0.46
Pillow==8.0.1
typing-extensions==3.7.4.3
Werkzeug==1.0.1
zipp==3.4.0
